# Default values for openclaw.

replicaCount: 1

image:
  repository: ghcr.io/openclaw/openclaw
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: 1000

securityContext: {}

service:
  type: ClusterIP
  port: 18789

ingress:
  enabled: true
  className: "traefik"
  annotations: {}
  hosts:
    - host: openclaw.avril
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 2Gi

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  storageClass: "freenas-iscsi-csi"
  size: 5Gi

networkPolicy:
  enabled: true
  anthropicApiCidr: "160.79.104.10/32"
