apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-library-pv
spec:
  capacity:
    storage: 500Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: galactus.avril
    path: /mnt/low-resiliency-with-read-cache/immich-library/
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library-pvc
spec:
  storageClassName: ""
  volumeName: immich-library-pv
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
