apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: self-signed
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  namespace: default
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: acme@scubbo.org

    privateKeySecretRef:
      name: letsencrypt-staging

    solvers:
      - selector:
          dnsZones:
            - "scubbo.org"
        dns01:
          cloudflare:
            email: scubbojj+cloudflare@gmail.com
            apiKeySecretRef:
              name: cloudflare-api-key-secret
              key: api-key
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: acme@scubbo.org

    privateKeySecretRef:
      name: letsencrypt-prod

    solvers:
      - selector:
          dnsZones:
            - "scubbo.org"
        dns01:
          cloudflare:
            email: scubbojj+cloudflare@gmail.com
            apiKeySecretRef:
              name: cloudflare-api-key-secret
              key: api-key
